alabaster==0.7.13
annotated-types==0.5.0
anyio==3.7.1
astatine==0.3.3
astor==0.8.1
astpretty==3.0.0
astroid==2.15.6
asttokens==2.4.0
attrs==23.1.0
autoflake==1.7.8
Babel==2.12.1
bandit==1.7.5
black==23.9.1
cachetools==5.3.1
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
cognitive-complexity==1.3.0
colorama==0.4.6
contourpy==1.1.0
coverage==7.3.1
cycler==0.11.0
darglint==1.8.1
dill==0.3.7
distlib==0.3.7
dlint==0.14.1
doc8==1.1.1
docformatter==1.7.5
docutils==0.19
domdf-python-tools==3.6.1
eradicate==2.3.0
exceptiongroup==1.1.3
fastapi==0.103.1
filelock==3.12.4
flake8==5.0.4
flake8-2020==1.8.1
flake8-aaa==0.16.0
flake8-annotations==3.0.1
flake8-annotations-complexity==0.0.8
flake8-annotations-coverage==0.0.6
flake8-bandit==4.1.1
flake8-black==0.3.6
flake8-blind-except==0.2.1
flake8-breakpoint==1.1.0
flake8-broken-line==0.6.0
flake8-bugbear==23.3.12
flake8-builtins==1.5.3
flake8-class-attributes-order==0.1.3
flake8-coding==1.3.2
flake8-cognitive-complexity==0.1.0
flake8-comments==0.1.2
flake8-comprehensions==3.14.0
flake8-debugger==4.1.2
flake8-django==1.4
flake8-docstrings==1.7.0
flake8-encodings==0.5.0.post1
flake8-eradicate==1.5.0
flake8-executable==2.1.3
flake8-expression-complexity==0.0.11
flake8-fastapi==0.7.0
flake8-fixme==1.1.1
flake8-functions==0.0.8
flake8-functions-names==0.4.0
flake8-future-annotations==0.0.5
flake8-helper==0.2.1
flake8-isort==6.0.0
flake8-literal==1.3.0
flake8-logging-format==0.9.0
flake8-markdown==0.5.0
flake8-mutable==1.2.0
flake8-no-pep420==2.7.0
flake8-noqa==1.3.2
flake8-pie==0.16.0
flake8-plugin-utils==1.3.3
flake8-pyi==22.11.0
flake8-pylint==0.2.0
flake8-pytest-style==1.7.2
flake8-quotes==3.3.2
flake8-rst-docstrings==0.3.0
flake8-secure-coding-standard==1.4.0
flake8-string-format==0.3.0
flake8-tidy-imports==4.10.0
flake8-typing-imports==1.14.0
flake8-use-fstring==1.4
flake8-use-pathlib==0.3.0
flake8-useless-assert==0.4.4
flake8-variables-names==0.0.6
flake8-warnings==0.4.0
flake8_simplify==0.20.0
fonttools==4.42.1
gitdb==4.0.10
GitPython==3.1.36
hypothesis==6.84.3
hypothesmith==0.1.9
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
jupyterlab-flake8==0.7.1
kiwisolver==1.4.5
lark-parser==0.12.0
lazy-object-proxy==1.9.0
libcst==0.4.10
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.3
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
mr-proper==0.0.7
mypy-extensions==1.0.0
natsort==8.4.0
networkx==3.1
numpy==1.25.2
packaging==23.1
pandas==2.1.0
pandas-vet==0.2.3
pathspec==0.11.2
pbr==5.11.1
pep8-naming==0.13.3
Pillow==10.0.0
platformdirs==3.10.0
pluggy==1.3.0
pybetter==0.4.1
pycln==2.2.2
pycodestyle==2.9.1
pydantic==2.3.0
pydantic_core==2.6.3
pydocstyle==6.3.0
pyemojify==0.2.0
pyflakes==2.5.0
pygame==2.5.1
Pygments==2.16.1
pylint==2.17.5
pyparsing==3.1.1
pyproject-api==1.6.1
pytest==7.4.2
pytest-cov==4.1.0
pytest-sugar==0.9.7
python-dateutil==2.8.2
pytz==2023.3.post1
pyupgrade==3.10.1
PyYAML==6.0.1
removestar==1.4
requests==2.31.0
restructuredtext-lint==1.4.0
rich==13.5.2
scipy==1.11.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==6.2.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
ssort==0.11.6
starlette==0.27.0
stdlib-list==0.9.0
stevedore==5.1.0
sympy==1.12
termcolor==2.3.0
tokenize-rt==5.2.0
tomli==2.0.1
tomlkit==0.12.1
torch==2.0.1
torchvision==0.15.2
tox==4.11.3
tox-travis==0.12
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
untokenize==0.1.1
urllib3==2.0.4
virtualenv==20.24.5
wrapt==1.15.0
